.header_btn{
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    background: #212B31;
    border: 1px solid #212B31;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 9px 20px;
    transition: 0.5s;

}
.header__btn:hover{
    color: black;
    background-color: white;


}
.btn__black{
    background-color: #212B31;
    color:#FFFFFF;
    border: 1px solid #212B31;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 13px 25px;
    transition: .3s;
    cursor: pointer;
    font-weight: 400;
    font-size: 17px;


}
.btn__white{
    background-color: #FFFFFF;
    color: #212B31;
    padding: 13px 25px;
    border: 1px solid #DADEDF;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
}

.btn__black:hover{
background-color:#FFFFFF;
color: #212B31;
}

.btn__white:hover{
    background-color: #ccc;
    color:#FFFFFF;
}

.container {
    width: 1056px;
    margin: 0 auto;
}
.yellow-line {
    position: absolute;
    background: #FFD042;
    width: 100%;
    height: 16px;
    top: 13px;
    z-index: -1;
}

.yellow__line {
    width: 284px;
    height: 16px;
    background: #FFD042;
    position: absolute;
    top: 16px;
    z-index: -1;
}

.more__btn {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #212B31;
    background: #FFFFFF;
    border: 1px solid #DADEDF;
    border-radius: 4px;
    padding: 13px 25px;
    gap: 10px;

}